
*{
    background-color: rgb(206, 250, 250);
    font-family: 'Montserrat', sans-serif;
    font-size: 1.4rem;
    margin: 0;
}
a{
    text-decoration: none;
    font-size: .8rem;
    font-weight: bolder;
}