.content{
    font-family: 'Montserrat',sans-serif;
}
.footer{
    font-family: 'Roboto', sans-serif;
    }
    
    style.css
    .header{
    font-family: 'Roboto', sans-serif !important;
    }
    #title{
    font-family: 'Roboto', sans-serif;
    }
    #foot{
    font-family: 'Roboto', sans-serif;
    }